@import 'tailwindcss';
@import "./mouse-light.css";
/*@preset('../../vendor/filament/support/tailwind.config.preset')*/
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@designbycode/tailwindcss-mask-image";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/filament/**/*.blade.php,";
@source "../../vendor/wire-elements/modal/resources/views/**/*.blade.php";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

    /*--color-primary-50: oklch(0.984 0.014 180.72);*/
    /*--color-primary-100: oklch(0.953 0.051 180.801);*/
    /*--color-primary-200: oklch(0.91 0.096 180.426);*/
    /*--color-primary-300: oklch(0.855 0.138 181.071);*/
    /*--color-primary-400: oklch(0.777 0.152 181.912);*/
    /*--color-primary-500: oklch(0.704 0.14 182.503);*/
    /*--color-primary-600: oklch(0.6 0.118 184.704);*/
    /*--color-primary-700: oklch(0.511 0.096 186.391);*/
    /*--color-primary-800: oklch(0.437 0.078 188.216);*/
    /*--color-primary-900: oklch(0.386 0.063 188.416);*/
    /*--color-primary-950: oklch(0.277 0.046 192.524);*/
    --color-primary: oklch(67.222% 0.17184 16.056);
    --color-primary-50: oklch(100% 0 none);
    --color-primary-100: oklch(98.431% 0.00958 72.664);
    --color-primary-200: oklch(92.043% 0.03675 55.349);
    --color-primary-300: oklch(83.846% 0.07232 35.699);
    --color-primary-400: oklch(74.303% 0.12401 24.091);
    --color-primary-500: oklch(67.222% 0.17184 16.056);
    --color-primary-600: oklch(60.441% 0.21885 11.531);
    --color-primary-700: oklch(52.171% 0.19913 1.7282);
    --color-primary-800: oklch(41.431% 0.16133 349.71);
    --color-primary-900: oklch(29.702% 0.11722 338.83);
    --color-primary-950: oklch(22.878% 0.08791 334.1);
    --color-black: #111;
}

.wrapper {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

button:hover {
    cursor: pointer;
}

.btn {
    @apply inline-flex items-center px-4 py-2 rounded-md font-semibold text-xs uppercase tracking-widest transition ease-in-out duration-150 disabled:opacity-25 focus:outline-none focus:ring-2 border border-transparent;
}

.btn-gradient {
    @apply inline-flex items-center bg-gradient-to-b from-primary-600 to-lime-400 border border-transparent rounded-md font-semibold text-xs  uppercase tracking-widest hover:to-lime-300 focus:to-lime-300 active:to-lime-300 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 transition ease-in-out duration-150 text-white;
}


