@import 'tailwindcss';

/*@preset('../../vendor/filament/support/tailwind.config.preset')*/
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@designbycode/tailwindcss-mask-image";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "'../../vendor/filament/**/*.blade.php',";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: oklch(49.933% 0.11024 250.04);
    --color-primary-50: oklch(96.247% 0.02001 200.64);
    --color-primary-100: oklch(92.597% 0.03582 205.23);
    --color-primary-200: oklch(84.361% 0.06317 214.03);
    --color-primary-300: oklch(74.762% 0.08826 226.04);
    --color-primary-400: oklch(63.754% 0.11758 239.66);
    --color-primary-500: oklch(49.933% 0.11024 250.04);
    --color-primary-600: oklch(41.436% 0.10419 257.32);
    --color-primary-700: oklch(33.231% 0.09464 263.24);
    --color-primary-800: oklch(25.996% 0.07965 268.39);
    --color-primary-900: oklch(19.004% 0.05983 273.58);
    --color-primary-950: oklch(15.802% 0.04593 275.65);

    --rounded-default: 1rem;
}

.wrapper {
    @apply w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

button:hover {
    cursor: pointer;
}

.btn {
    @apply inline-flex items-center px-4 py-2 rounded-md font-semibold text-xs uppercase tracking-widest transition ease-in-out duration-150 disabled:opacity-25 focus:outline-none focus:ring-2 border border-transparent;
}

.btn-gradient {
    @apply inline-flex items-center bg-gradient-to-b from-primary-600 to-lime-400 border border-transparent rounded-md font-semibold text-xs  uppercase tracking-widest hover:to-lime-300 focus:to-lime-300 active:to-lime-300 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 transition ease-in-out duration-150 text-white;
}


